DATABASE_URL="postgresql://poligraph:poligraph@127.0.0.1:30002/poligraph?schema=public"
DATABASE_URL_TEST="postgresql://poligraph:poligraph@127.0.0.1:30002/poligraph_test?schema=public"
CORS_ALLOWED_ORIGINS="http://localhost:30000"
NEXT_PUBLIC_POLIGRAPH_API_URL="http://localhost:30001/graphql"
